*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
}
.logo img {
    height: 80px;
    width: 80px;
}
.menu{
 flex: 1;
 display: flex;
 justify-content: flex-end;
}

.menu ul {
    display: flex;
}

.menu  li {
    list-style: none;
    margin: 0 10px;
    padding: 0 2px;
}
.menu li a {
    height: 100px;
    color: #fff;
    border-bottom: 3px solid #000;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.menu li a:hover {
    border-bottom: 3px solid #eba50f;
}

.logoimg{
    width: 80px;
    height: 80px;
}

.intro {
    background-color: #333;
    height: calc(100vh - 100px);
}

.intro-info {
    margin: auto;
    max-width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.intro-info .img {
   width: 280px;
   height: 320px;
   margin: 0 20px;
   background-size: cover;
   background-position: center;
   border-bottom: 1px solid #ccc;
   border-radius: 50%;
}

.intro-info strong {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
.intro-info span {
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    color:#eba50f;
}

.intro-info label {
    width: 400px;
    margin: 5px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}