*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
}
.logo img {
    height: 80px;
    width: 80px;
}
.menu{
 flex: 1;
 display: flex;
 justify-content: flex-end;
}

.menu ul {
    display: flex;
}

.menu  li {
    list-style: none;
    margin: 0 10px;
    padding: 0 2px;
}
.menu li a {
    height: 100px;
    color: #fff;
    border-bottom: 3px solid #000;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.menu li a:hover {
    border-bottom: 3px solid #eba50f;
}

.logoimg{
    width: 80px;
    height: 80px;
}