*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
}
.logo img {
    height: 80px;
    width: 80px;
}
.menu{
 flex: 1;
 display: flex;
 justify-content: flex-end;
}

.menu ul {
    display: flex;
}

.menu  li {
    list-style: none;
    margin: 0 10px;
    padding: 0 2px;
}
.menu li a {
    height: 100px;
    color: #fff;
    border-bottom: 3px solid #000;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.menu li a:hover {
    color: #ccc;
    border-bottom: 3px solid #eba50f;
}

.menu li a.active{
    color: #ccc;
    border-bottom: 3px solid #eba50f;
}

.logoimg{
    width: 80px;
    height: 80px;
}

.intro {
    background-color: #333;
    height: calc(100vh - 100px);
}

.intro-info {
    margin: auto;
    max-width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.intro-info .img {
   width: 280px;
   height: 320px;
   margin: 0 20px;
   background-size: cover;
   background-position: center;
   border-bottom: 1px solid #ccc;
   border-radius: 50%;
}

.intro-info strong {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
.intro-info span {
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    color:#eba50f;
}

.intro-info label {
    width: 400px;
    margin: 5px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.portifoio {
    width: 90vw;
    height: 90vh;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portifoio h2 {
    text-transform: uppercase;
    color: #333;
}

.portifoio-menu {
    width: 220px;
    height: 40px;
    margin: auto;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.portifoio-menu ul li {
    text-decoration: none;
    list-style: none;
}

.portifoio-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portifoio-menu li {
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ccc;
    transition: ease-in 0.3s;
}

.portifoio-menu li:hover {
    color: #eba50f;
}

.portifoio-menu li:first-child {
    border-left: 0;
}

.portifoio .container-port {
    width: 90%;
    height: 45%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.container-port .contaniner-port--item{
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid #333;
}